.formContainer {
  width: 100%;
  min-height: 120vh;
  background: linear-gradient(to bottom, rgb(9, 19, 0), rgb(3, 75, 3));
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.form {
  width: 450px;
  padding: 30px;
  border-radius: 20px;
  background: #f6fff7;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50px;
  animation: slideUp 0.5s ease-in-out;
  z-index: 99999999;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h2 {
  margin-top: -10px;
  font-family: "Comfortaa", cursive;
}

.input {
  width: 100%;
  padding: 10px 13px;
  margin: 5px 0;
  border: 2px solid #cce3cc;
  border-radius: 10px;
  background-color: #fff;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.input:focus {
  outline: none;
  border-color: #7abf7a;
  background-color: #f0fff0;
}

.button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;

  background-color: #7abf7a;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #66aa66;
}

.error {
  color: #d9534f;
  font-size: 14px;
  margin: -1px 0 6px 3px;
}
